.contactListItem {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  margin-bottom: 10px;
}
.btn {
  width: 100px;
  border: 2px solid lightblue;
  border-radius: 4px;
}
.lbl,
.btn {
  color: rgb(6, 127, 167);
}
.contacsList {
  padding-left: 0;
}

